<!DOCTYPE html>
<html lang="zh-hant">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/demo.css">

<head>
    <title>留言板</title>
</head>
<body>
  <h1>留言板</h1>
  <div>
    <a href="/">首頁</a>
    <a href="{% url 'msg_create' %}">新增留言</a>
    {% if user.is_authenticated %}
      {{ user.username }} <a href="{% url 'logout' %}">登出</a>
    {% else %}
      <a href="{% url 'login' %}">登入</a>
    {% endif %}
  </div>
  <div>
    {% block content %}{% endblock %}
  </div>
  <a>"由cupnoodle20506李芸萱製作"</a>
</body>
</html>